html {
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Coustard', serif;
  font-weight: 300; }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 5.4rem; }

h3 {
  font-size: 5.0rem; }

h4 {
  font-size: .7rem; }

h5 {
  font-size: 5rem; }

p {
  font-size: 1rem;
  line-height: 1rem; }

.h1, .h2 {
  color: white; }

.h1 {
  font-family: 'Coustard', serif;
  font-weight: 300;
  font-size: 6vw;
  font-weight: 300;
  text-shadow: 0px 1px 4px #1e9baf; }

.h2 {
  font-family: 'Coustard', serif;
  font-weight: 300;
  font-size: 7vw;
  font-weight: 600;
  text-shadow: 0px 1px 4px #1e9baf; }

.p {
  font-size: 5vw;
  line-height: 5vw; }

@media (min-width: 768px) {
  h1 {
    font-size: 1.8vw; }
  h2 {
    font-size: 1.4vw; }
  h3 {
    font-size: 1.0vw; }
  h5 {
    font-size: 5rem; }
  p {
    font-size: 1.3vw;
    line-height: 1.4vw; }
  .h1, .h2 {
    color: white; }
  .h1 {
    font-family: 'Coustard', serif;
    font-weight: 300;
    font-size: 2vw;
    font-weight: 300;
    text-shadow: 0px 1px 4px #1e9baf; }
  .h2 {
    font-family: 'Coustard', serif;
    font-weight: 300;
    font-size: 3vw;
    font-weight: 600;
    text-shadow: 0px 1px 4px #1e9baf; }
  .p {
    font-size: 2vw;
    line-height: 2vw; } }

body {
  height: 100%;
  min-height: 35rem;
  position: relative;
  font-family: 'Source Sans Pro';
  font-weight: 300; }

.overlay {
  position: absolute;
  height: 100%;
  min-height: 35rem;
  width: 100%;
  background-color: #6dd7ff;
  opacity: 0.4;
  z-index: -1; }
  @media (min-width: 768px) {
    .overlay {
      min-height: 0; } }

.form-control {
  border-radius: 100px;
  font-size: .8rem; }

.btn-afro {
  border-radius: 100px; }

.btn-special {
  margin: 0 auto;
  display: block;
  border-radius: 100px; }

.dropdown-menu-afro {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: red;
  text-align: center;
  list-style: none;
  background-color: transparent;
  background-clip: padding-box;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem; }

.dropdown-item {
  display: block;
  width: 100%;
  padding: .7rem 1.5rem;
  margin: .3rem 0;
  clear: both;
  font-weight: 400;
  color: #1e737d;
  background-color: #ffffffd1;
  text-align: inherit;
  white-space: nowrap;
  border: 2px solid rgba(255, 255, 255, 0.71);
  border-radius: 50px; }
  .dropdown-item.blue {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #000;
    border: 1px solid #000;
    background-color: #fff; }
    .dropdown-item.blue:hover {
      background-color: rgba(23, 162, 184, 0.85);
      color: #1C4288; }

.close-add {
  position: relative;
  right: 30px; }

.table td, .table th {
  padding: 0.55rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6; }

.masthead {
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem; }
  .masthead .masthead-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    min-height: 35rem;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    transform: skewY(4deg);
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right; }
  .masthead .logo img {
    padding: 2rem;
    max-width: 220px;
    margin: 0 auto;
    display: block; }
  .masthead .masthead-content h1 {
    font-size: 1rem;
    text-align: center; }
  .masthead .masthead-content p {
    text-align: center;
    font-size: 1.2rem; }
    .masthead .masthead-content p strong {
      font-weight: 900; }
  .masthead .masthead-content .input-group-newsletter input {
    font-size: 1rem;
    padding: 1rem; }
  .masthead .masthead-content .input-group-newsletter button {
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem; }

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    min-height: 0;
    width: 40.5rem;
    padding-bottom: 0; }
    .masthead .masthead-bg {
      min-height: 0;
      -webkit-transform: skewX(-8deg);
      -ms-transform: skewX(-8deg);
      transform: skewX(-8deg);
      -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
      transform-origin: top right; }
    .masthead .logo img {
      padding: 1rem .1rem;
      max-width: 200px;
      margin: 0 auto;
      display: block; }
    .masthead .masthead-content {
      padding-left: 3rem;
      padding-right: 10rem; }
      .masthead .masthead-content h1 {
        font-size: 2.5rem;
        color: #1C4288; }
      .masthead .masthead-content p {
        font-size: 1rem;
        line-height: 1.5rem;
        color: #1C4288; } }

body {
  height: 100%;
  font-weight: 300;
  color: #001A3F;
  font-family: 'Ubuntu', sans-serif; }

.badge-car {
  display: inline;
  position: absolute;
  top: 6px;
  left: 65px;
  padding-right: 0.5em;
  padding-left: .5em; }

@media (min-width: 768px) {
  .badge-car {
    display: inline;
    position: absolute;
    top: 27px;
    left: 75px; } }

#carrodeCompras {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 110%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  #carrodeCompras.animacionCompras {
    position: fixed;
    bottom: 0%;
    position: absolute;
    z-index: 35; }

#menu-Hamburguer {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 110%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  #menu-Hamburguer.animacionmenu {
    position: fixed;
    bottom: 0%;
    position: absolute;
    z-index: 34; }

.container-shopping {
  padding: 5em; }

.card-title-afro {
  margin-bottom: 0px; }

.img-item {
  max-width: 70px;
  padding: 0px; }

.cerrar-dest {
  visibility: collapse;
  display: none; }

.cerrar-media {
  visibility: visible;
  display: inherit; }

#aparecido1 {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido1.boton1a {
    overflow: auto;
    height: 100%;
    right: 0%; }

#aparecido2 {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido2.boton2a {
    overflow: auto;
    height: 100%;
    left: 0%; }

#aparecido3 {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido3.boton3a {
    overflow: auto;
    height: 100%;
    right: 0%; }

#aparecido4 {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido4.boton4a {
    overflow: auto;
    height: 100%;
    left: 0%; }

#aparecido5 {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido5.boton5a {
    overflow: auto;
    height: 100%;
    right: 0%; }

#aparecido1b {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido1b.boton1b {
    overflow: auto;
    height: 100%;
    right: 0%; }

#aparecido2b {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido2b.boton2b {
    overflow: auto;
    height: 100%;
    left: 0%; }

#aparecido3b {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido3b.boton3b {
    overflow: auto;
    height: 100%;
    right: 0%; }

#aparecido4b {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido4b.boton4b {
    overflow: auto;
    height: 100%;
    left: 0%; }

#aparecido1c {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido1c.boton1c {
    overflow: auto;
    height: 100%;
    right: 0%; }

#aparecido2c {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido2c.boton2c {
    overflow: auto;
    height: 100%;
    left: 0%; }

#aparecido3c {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido3c.boton3c {
    overflow: auto;
    height: 100%;
    right: 0%; }

#aparecido4c {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido4c.boton4c {
    overflow: auto;
    height: 100%;
    left: 0%; }

#aparecido1d {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido1d.boton1d {
    overflow: auto;
    height: 100%;
    right: 0%; }

#aparecido2d {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido2d.boton2d {
    overflow: auto;
    height: 100%;
    left: 0%; }

#aparecido3d {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido3d.boton3d {
    overflow: auto;
    height: 100%;
    right: 0%; }

#aparecido4d {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido4d.boton4d {
    overflow: auto;
    height: 100%;
    left: 0%; }

#aparecido1e {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido1e.boton1e {
    overflow: auto;
    height: 100%;
    right: 0%; }

#aparecido2e {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido2e.boton2e {
    overflow: auto;
    height: 100%;
    left: 0%; }

#aparecido3e {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido3e.boton3e {
    overflow: auto;
    height: 100%;
    right: 0%; }

#aparecido4e {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido4e.boton4e {
    overflow: auto;
    height: 100%;
    left: 0%; }

.background-afro1 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 800px;
  min-height: 35rem;
  background-color: rgba(255, 255, 255, 0.93);
  /* -webkit-transform-origin: bottom left; */
  /*-ms-transform-origin: bottom left;*/
  /* transform-origin: bottom left; */ }

.background-afro2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 800px;
  min-height: 35rem;
  background-color: rgba(255, 255, 255, 0.93); }

@media (min-width: 768px) {
  .cerrar-dest {
    visibility: visible;
    display: inherit; }
  .cerrar-media {
    visibility: collapse;
    display: none; }
  #aparecido1 {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 110%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #aparecido1.boton1a {
      position: fixed;
      right: 0%; }
  #aparecido2 {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 120%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #aparecido2.boton2a {
      position: fixed;
      left: 0%; }
  #aparecido3 {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 110%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #aparecido3.boton3a {
      position: fixed;
      right: 0%; }
  #aparecido4 {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 120%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #aparecido4.boton4a {
      position: fixed;
      left: 0%; }
  #aparecido5 {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 110%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #aparecido5.boton5a {
      position: fixed;
      right: 0%; }
  #aparecido1b {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 110%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #aparecido1b.boton1b {
      position: fixed;
      right: 0%; }
  #aparecido2b {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 120%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #aparecido2b.boton2b {
      position: fixed;
      left: 0%; }
  #aparecido3b {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 110%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #aparecido3b.boton3b {
      position: fixed;
      right: 0%; }
  #aparecido4b {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 120%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #aparecido4b.boton4b {
      position: fixed;
      left: 0%; }
  #aparecido1c {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 110%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #aparecido1c.boton1c {
      position: fixed;
      right: 0%; }
  #aparecido2c {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 120%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #aparecido2c.boton2c {
      position: fixed;
      left: 0%; }
  #aparecido3c {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 110%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #aparecido3c.boton3c {
      position: fixed;
      right: 0%; }
  #aparecido4c {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 120%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #aparecido4c.boton4c {
      position: fixed;
      left: 0%; }
  #aparecido1d {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 110%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #aparecido1d.boton1d {
      position: fixed;
      right: 0%; }
  #aparecido2d {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 120%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #aparecido2d.boton2d {
      position: fixed;
      left: 0%; }
  #aparecido3d {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 110%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #aparecido3d.boton3d {
      position: fixed;
      right: 0%; }
  #aparecido4d {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 120%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #aparecido4d.boton4d {
      position: fixed;
      left: 0%; }
  #aparecido1e {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 110%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #aparecido1e.boton1e {
      position: fixed;
      right: 0%; }
  #aparecido2e {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 120%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #aparecido2e.boton2e {
      position: fixed;
      left: 0%; }
  #aparecido3e {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 110%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #aparecido3e.boton3e {
      position: fixed;
      right: 0%; }
  #aparecido4e {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 120%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #aparecido4e.boton4e {
      position: fixed;
      left: 0%; }
  .background-afro1 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -20%;
    width: 110%;
    height: 100%;
    min-height: 35rem;
    background-color: rgba(255, 255, 255, 0.93);
    -webkit-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(-10deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left; }
  .background-afro2 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 35rem;
    background-color: rgba(255, 255, 255, 0.93);
    -webkit-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    transform: skewX(10deg);
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right; } }

.background-afro-carrito {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 35rem;
  background-color: white; }

.background-afro-svg {
  background-image: url(svg/back-afro.svg); }

.video-afro {
  display: block;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 26, 61, 0.5);
  box-shadow: 0px 3px 6px rgba(0, 26, 61, 0.5);
  box-size: border-box; }

.p-video {
  font-size: 18px;
  font-weight: 400;
  padding-left: 10%;
  padding-right: 10%; }

.mt-6 {
  margin-top: 15%; }

.plr-3 {
  padding-left: 5%;
  padding-right: 5%; }

.img-servicio-afro {
  border-radius: 10px; }

.card-afro {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0); }

.list-group-item-afro {
  padding: 0.45vw 1.25rem;
  background-color: rgba(255, 255, 255, 0); }

.li-afro {
  font-size: .9vw; }

.btn-outline-warning {
  color: #ff8122;
  background-color: transparent;
  background-image: none;
  border-color: #ff8122; }

.btn-outline-warning:hover {
  color: #212529;
  background-color: #ff8122;
  border-color: #ff8122; }

.img-carrito {
  max-width: 40px; }

.table-bordered td, .table-bordered th {
  border-bottom: 1px solid #dee2e6; }

.table td, .table th {
  padding: 0.75rem;
  vertical-align: center; }

.table p {
  line-height: 1.5rem; }

.btn-car-compras {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  fill: #fff;
  width: 50px;
  height: 50px;
  margin-left: 1%;
  line-height: 1px;
  border-radius: 50%;
  border: 3px solid #fff; }
  .btn-car-compras > .cls-1 {
    fill: #fff; }
  .btn-car-compras.blue {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #1C4288;
    border: 3px solid #1C4288;
    background-color: #fff; }
    .btn-car-compras.blue > .cls-1 {
      fill: #1C4288; }
    .btn-car-compras.blue:hover {
      background-color: #fff;
      color: #1C4288; }
    .btn-car-compras.blue:active, .btn-car-compras.blue:focus {
      border-color: #1C4288;
      color: #1C4288; }

.btn-haburger-menu {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  fill: #fff;
  width: 50px;
  height: 50px;
  margin-right: 1%;
  line-height: 1px;
  border-radius: 50%;
  border: 3px solid #fff; }
  .btn-haburger-menu > .cls-1 {
    fill: #fff; }
  .btn-haburger-menu.blue {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #1C4288;
    border: 3px solid #1C4288;
    background-color: #fff; }
    .btn-haburger-menu.blue > .cls-1 {
      fill: #1C4288; }
    .btn-haburger-menu.blue:hover {
      background-color: #fff;
      color: #1C4288; }
    .btn-haburger-menu.blue:active, .btn-haburger-menu.blue:focus {
      border-color: #1C4288;
      color: #1C4288; }

.menu {
  margin-top: 5px; }

@media (min-width: 768px) {
  .menu {
    margin-top: 32px; } }

.menu-dropdown {
  z-index: 46;
  position: relative; }

.supercarousel {
  position: fixed;
  color: white;
  width: 100%;
  height: 100%;
  z-index: 0;
  -ms-display: flex;
  display: -webkit-box;
  display: flex;
  /* alineacion vertical */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* alineacion horizontal */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 0px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff; }

.supercarouselfuente {
  text-align: center;
  text-shadow: 0px 1px 5px #000;
  margin-left: auto;
  margin-right: auto; }
  .supercarouselfuente h1 {
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    position: relative; }
  .supercarouselfuente p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 300;
    position: relative; }

.subimg-carousel {
  position: relative;
  bottom: -150px; }

@media (min-width: 768px) {
  .supercarouselfuente {
    text-align: center;
    text-shadow: 0px 1px 5px #000;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%; }
    .supercarouselfuente h1 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 6rem;
      line-height: 5rem;
      font-weight: 500; }
    .supercarouselfuente p {
      font-family: 'Ubuntu', sans-serif;
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 300; }
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 25%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff; } }

.cerrar2 {
  line-height: 3.2rem;
  font-size: 1.5rem;
  color: #1C4288;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: transparent;
  border: 1px solid #1C4288;
  border-radius: 50%; }
  .cerrar2 > p {
    font-size: 1rem; }
  .cerrar2 > .cls-1 {
    fill: #1C4288; }

.cerrar1 {
  display: inline-block;
  /* line-height: 3.2rem; */
  /* font-size: 1.5rem; */
  color: #1C4288;
  cursor: pointer;
  width: 50px;
  height: 50px;
  /* margin: 0 auto; */
  background: transparent;
  border: 1px solid #1C4288;
  border-radius: 50%;
  /* -webkit-box-shadow: 0px 3px 6px rgba(28, 65, 135, 0.41); */
  /* box-shadow: 0px 3px 6px rgba(28, 65, 135, 0.41); */ }
  .cerrar1 > .cls-1 {
    fill: #1C4288; }

.cerrar-sm {
  line-height: 2.5rem;
  font-size: 1rem;
  color: #1C4288;
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin: 0 auto;
  background: transparent;
  border: 1px solid #1C4288;
  border-radius: 50%; }
  .cerrar-sm > .cls-1 {
    fill: #1C4288; }

.aceptar {
  display: inline-block;
  line-height: 3.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  background: #FF7700;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px #FF7700;
  box-shadow: 0px 3px 6px #FF7700; }

.itinerario {
  line-height: 3.7rem;
  font-size: 2rem;
  text-align: center;
  color: #358494;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background: transparent;
  border: 1px solid #358494;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px #358494;
  box-shadow: 0px 3px 6px #358494; }

.item-list-afro {
  position: relative;
  display: block;
  font-size: 1.5vw;
  font-style: italic;
  margin-bottom: 2px;
  padding: 2px 20px; }

#logo-afro {
  fill: #fff;
  width: 30vw; }
  #logo-afro.blue {
    fill: #1C4288; }

@media (min-width: 768px) {
  #logo-afro {
    fill: #fff;
    width: 10vw; }
    #logo-afro.blue {
      fill: #1C4288; } }

#contenedor-paralax1, #contenedor-paralax2, #contenedor-paralax3, #contenedor-paralax4, #contenedor-paralax5, #contenedor-paralax1b, #contenedor-paralax2b, #contenedor-paralax3b, #contenedor-paralax4b, #contenedor-paralax1c, #contenedor-paralax2c, #contenedor-paralax3c, #contenedor-paralax4c, #contenedor-paralax1d, #contenedor-paralax2d, #contenedor-paralax3d, #contenedor-paralax4d, #contenedor-paralax1e, #contenedor-paralax2e, #contenedor-paralax3e, #contenedor-paralax4e {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#slide-paralax1, #slide-paralax2, #slide-paralax3, #slide-paralax4, #slide-paralax5, #slide-paralax1b, #slide-paralax2b, #slide-paralax3b, #slide-paralax4b, #slide-paralax1c, #slide-paralax2c, #slide-paralax3c, #slide-paralax4c, #slide-paralax1d, #slide-paralax2d, #slide-paralax3d, #slide-paralax4d, #slide-paralax1e, #slide-paralax2e, #slide-paralax3e, #slide-paralax4e {
  display: block;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: left; }

.container-reserva-hask {
  height: 500px; }

/*form styles*/
#msform {
  width: auto;
  margin: 50px auto;
  text-align: center;
  position: relative; }

#msform fieldset {
  /* background: white; */
  border: 0 none;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: absolute;
  /*stacking fieldsets above each other*/ }

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none; }

/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #17a2b8;
  border-radius: 50px;
  margin-bottom: 10px;
  /*   width: 50%; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px; }

/*buttons*/
#msform .action-button {
  /* width: 100px; */
  background-color: white;
  border: 1px solid #ff8122;
  border-radius: 50px;
  cursor: pointer;
  padding: 10px 30px;
  margin: 10px 5px; }

#msform .action-button:hover, #msform .action-button:focus {
  -webkit-box-shadow: 0 0 0 2px white, 0 0 0 3px #ff8122;
  box-shadow: 0 0 0 2px white, 0 0 0 3px #ff8122; }

/*headings*/
.fs-title {
  text-transform: uppercase;
  margin-bottom: 10px; }

.fs-subtitle {
  color: #666;
  margin-bottom: 20px; }

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step; }

#progressbar li {
  list-style-type: none;
  color: #1C4288;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative; }

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  line-height: 28px;
  display: block;
  font-size: 15px;
  color: #17a2b8;
  position: relative;
  background: #fff;
  border: 1px solid #8cdfec;
  border-radius: 50px;
  margin: 0 auto 5px auto;
  z-index: 4;
  -webkit-box-shadow: 0px 2px 2px #8cdfec;
  box-shadow: 0px 2px 2px #8cdfec; }

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #8cdfec;
  position: absolute;
  left: -50%;
  top: 13px;
  z-index: 3;
  /*put it behind the numbers*/ }

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; }

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #17a2b8;
  color: white; }

.icon-datepiker {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 50px;
  background-color: #17a2b8;
  display: block;
  margin: 0 5px;
  /*     border: 1px solid #17a2b8; */
  color: #fff; }

.text-datepiker {
  font-weight: 400;
  line-height: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem; }

.form-check {
  text-align: left;
  padding: 5px 15px;
  margin: 10px 0 5px 0;
  border-bottom: 1px solid #17a2b8;
  font-weight: 600; }

/* #msform .form-check input{
}
#msform .form-check label{
 
} */
/* mobile*/
.social-icons {
  position: fixed;
  bottom: 1px;
  margin-bottom: 1rem;
  width: 100%; }
  .social-icons ul {
    margin-top: 1rem;
    width: 100%;
    text-align: center; }
    .social-icons ul > li {
      margin-left: .5rem;
      margin-right: .5rem;
      display: inline-block; }
      .social-icons ul > li .gran-icono {
        display: block;
        color: white;
        fill: #fff;
        border: 2px solid #fff;
        /*background-color: fade-out($primary, 0.2);*/
        border-radius: 100%;
        font-size: 1rem;
        line-height: 3rem;
        height: 2.5rem;
        width: 2.5rem; }
        .social-icons ul > li .gran-icono > p {
          display: inline;
          position: absolute;
          font-size: .6rem;
          letter-spacing: .1rem;
          color: #fff;
          line-height: .1rem;
          bottom: 35px;
          left: 0px; }
        .social-icons ul > li .gran-icono.blue {
          color: #1C4288;
          fill: #1C4288;
          background-color: #fff;
          border: 2px solid #1C4288; }
          .social-icons ul > li .gran-icono.blue > p {
            color: #1C4288; }

/* tablets*/
@media (min-width: 768px) {
  .social-icons {
    margin: 0;
    position: absolute;
    /*right: 2.5rem;*/
    bottom: 2rem;
    /* width: auto;*/ }
    .social-icons ul {
      margin-top: 0;
      width: auto; }
      .social-icons ul > li {
        display: inline-block;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1rem; }
        .social-icons ul > li:last-child {
          margin-bottom: 0; }
        .social-icons ul > li .gran-icono {
          -webkit-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          font-size: 1.5rem;
          line-height: 4rem;
          height: 4rem;
          width: 4rem;
          margin: 0px 30px;
          text-decoration: none;
          border: 3px solid #fff;
          fill: #fff; }
          .social-icons ul > li .gran-icono > p {
            font-size: .8rem;
            letter-spacing: .1rem;
            color: #fff; }
            .social-icons ul > li .gran-icono > p.centro {
              display: inline;
              position: absolute;
              top: 75px;
              left: 34px; }
            .social-icons ul > li .gran-icono > p.derecha {
              display: inline;
              position: absolute;
              top: 75px;
              left: 40px; }
            .social-icons ul > li .gran-icono > p.izquierda {
              display: inline;
              position: absolute;
              top: 75px;
              left: 29px; }
          .social-icons ul > li .gran-icono.blue {
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            color: #1C4288;
            fill: #1C4288;
            background-color: #fff;
            border: 3px solid #1C4288; }
            .social-icons ul > li .gran-icono.blue > p {
              color: #1C4288; }
            .social-icons ul > li .gran-icono.blue > .cls-1 {
              fill: #1C4288; }
            .social-icons ul > li .gran-icono.blue:hover {
              background-color: #fff;
              color: #1C4288;
              fill: #1C4288; }
          .social-icons ul > li .gran-icono:hover {
            font-size: 1.7rem;
            line-height: 4.5rem;
            color: #1C4288;
            border: 3px solid #1C4288;
            background-color: #fff;
            height: 4.5rem;
            width: 4.5rem; }
            .social-icons ul > li .gran-icono:hover > .cls-1 {
              fill: #1C4288; } }

.btn-primary {
  background-color: #C33D46;
  border-color: #C33D46; }
  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #9d3038 !important;
    border-color: #9d3038 !important; }

.input {
  font-weight: 300 !important; }
