html {
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Coustard', serif;
  font-weight: 300; }

h1 {
  font-size: 1.8vw; }

h2 {
  font-size: 1.4vw; }

h3 {
  font-size: 1.0vw; }

h4 {
  font-size: .7vw; }

h5 {
  font-size: 5vw; }

p {
  font-size: 1.3vw;
  line-height: 1.4vw; }

.h1, .h2 {
  color: white; }

.h1 {
  font-family: 'Coustard', serif;
  font-weight: 300;
  font-size: 2vw;
  font-weight: 300;
  text-shadow: 0px 1px 2px rgba(53, 132, 148, 0.19); }

.h2 {
  font-family: 'Coustard', serif;
  font-weight: 300;
  font-size: 3vw;
  font-weight: 600;
  text-shadow: 0px 1px 2px rgba(53, 132, 148, 0.19); }

.p {
  font-size: 2vw;
  line-height: 2vw; }

body {
  height: 100%;
  min-height: 35rem;
  position: relative;
  font-family: 'Source Sans Pro';
  font-weight: 300; }

.overlay {
  position: absolute;
  height: 100%;
  min-height: 35rem;
  width: 100%;
  background-color: #6dd7ff;
  opacity: 0.4;
  z-index: -1; }
  @media (min-width: 768px) {
    .overlay {
      min-height: 0; } }

.form-control {
  border-radius: 100px;
  font-size: .8rem;
  text-align: center; }

.btn-afro {
  border-radius: 100px; }

.btn-special {
  margin: 0 auto;
  display: block;
  border-radius: 100px; }

.dropdown-menu-afro {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: red;
  text-align: center;
  list-style: none;
  background-color: transparent;
  background-clip: padding-box;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem; }

.dropdown-item {
  display: block;
  width: 100%;
  padding: .7rem 1.5rem;
  margin: .3rem 0;
  clear: both;
  font-weight: 400;
  color: #fff;
  text-align: inherit;
  white-space: nowrap;
  border: 2px solid rgba(255, 255, 255, 0.71);
  border-radius: 50px; }
  .dropdown-item.yellow {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #000;
    border: 1px solid #000; }
    .dropdown-item.yellow:hover {
      background-color: #fff;
      color: #06173f; }

.close-add {
  position: relative;
  right: 30px; }

.table td, .table th {
  padding: 0.55rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6; }

.masthead {
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem; }
  .masthead .masthead-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    min-height: 35rem;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    transform: skewY(4deg);
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right; }
  .masthead .logo img {
    padding: 2rem;
    max-width: 220px;
    margin: 0 auto;
    display: block; }
  .masthead .masthead-content h1 {
    font-size: 1rem;
    text-align: center; }
  .masthead .masthead-content p {
    text-align: center;
    font-size: 1.2rem; }
    .masthead .masthead-content p strong {
      font-weight: 900; }
  .masthead .masthead-content .input-group-newsletter input {
    font-size: 1rem;
    padding: 1rem; }
  .masthead .masthead-content .input-group-newsletter button {
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem; }

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    min-height: 0;
    width: 40.5rem;
    padding-bottom: 0; }
    .masthead .masthead-bg {
      min-height: 0;
      -webkit-transform: skewX(-8deg);
      -ms-transform: skewX(-8deg);
      transform: skewX(-8deg);
      -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
      transform-origin: top right; }
    .masthead .logo img {
      padding: 1rem .1rem;
      max-width: 200px;
      margin: 0 auto;
      display: block; }
    .masthead .masthead-content {
      padding-left: 3rem;
      padding-right: 10rem; }
      .masthead .masthead-content h1 {
        font-size: 2.5rem;
        color: #06173f; }
      .masthead .masthead-content p {
        font-size: 1rem;
        line-height: 1.5rem;
        color: #06173f; } }

body {
  height: 100%;
  font-weight: 300;
  color: #001A3F;
  font-family: 'Ubuntu', sans-serif; }

.badge-car {
  display: block;
  position: adsolute;
  top: 30%; }

#carrodeCompras {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 110%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  #carrodeCompras.animate {
    position: fixed;
    bottom: 0%; }

.container-shopping {
  padding: 5em; }

.card-title-afro {
  margin-bottom: 0px; }

.img-item {
  max-width: 70px;
  padding: 0px; }

#aparecido1 {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 110%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido1.boton1 {
    position: fixed;
    right: 0%; }

#aparecido2 {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 120%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido2.boton2 {
    position: fixed;
    left: 0%; }

#aparecido3 {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 110%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido3.boton3 {
    position: fixed;
    right: 0%; }

#aparecido4 {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 120%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  #aparecido4.boton4 {
    position: fixed;
    left: 0%; }

.background-afro1 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -20%;
  width: 110%;
  min-height: 35rem;
  background-color: rgba(255, 255, 255, 0.93);
  -webkit-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left; }

.background-afro2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 35rem;
  background-color: rgba(255, 255, 255, 0.93);
  -webkit-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left; }

.background-afro-carrito {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 35rem;
  background-color: white; }

.background-afro-svg {
  background-image: url(svg/back-afro.svg); }

.video-afro {
  display: block;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 26, 61, 0.5);
  box-shadow: 0px 3px 6px rgba(0, 26, 61, 0.5);
  box-size: border-box; }

.p-video {
  font-size: 18px;
  font-weight: 400;
  padding-left: 10%;
  padding-right: 10%; }

.mt-6 {
  margin-top: 15%; }

.plr-3 {
  padding-left: 5%;
  padding-right: 5%; }

.img-servicio-afro {
  border-radius: 10px; }

.card-afro {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0); }

.list-group-item-afro {
  padding: 0.45vw 1.25rem;
  background-color: rgba(255, 255, 255, 0); }

.li-afro {
  font-size: .9vw; }

.img-carrito {
  max-width: 70px; }

.btn-outline-warning {
  color: #ff8122;
  background-color: transparent;
  background-image: none;
  border-color: #ff8122; }

.btn-outline-warning:hover {
  color: #212529;
  background-color: #ff8122;
  border-color: #ff8122; }

.btn-car-compras {
  font-family: 'Ubuntu', sans-serif;
  line-height: 2.5rem;
  color: white;
  width: 50px;
  height: 50px;
  margin-left: 1%;
  border-radius: 50%;
  border: 1px solid #fff; }
  .btn-car-compras.yellow {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #000;
    border: 1px solid #000; }
    .btn-car-compras.yellow:hover {
      background-color: #fff;
      color: #06173f; }

.btn-haburger-menu {
  font-family: 'Ubuntu', sans-serif;
  line-height: 2.5rem;
  color: white;
  width: 50px;
  height: 50px;
  margin-right: 1%;
  border-radius: 50%;
  border: 1px solid #fff; }
  .btn-haburger-menu.yellow {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #000;
    border: 1px solid #000; }
    .btn-haburger-menu.yellow:hover {
      background-color: #fff;
      color: #06173f; }

.menu {
  margin-top: 32px; }

.supercarousel {
  position: fixed;
  display: block;
  color: white;
  width: 100%;
  height: 100%;
  z-index: -1; }

.supercarouselfuente {
  font-size: 5vw;
  font-weight: 600;
  text-align: center;
  text-shadow: 0px 1px 5px #000;
  margin: 0 auto;
  padding: 20%; }

.cerrar {
  line-height: 3.2rem;
  font-size: 1.5rem;
  color: #1C4288;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: transparent;
  border: 1px solid #1C4288;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px rgba(28, 65, 135, 0.41);
  box-shadow: 0px 3px 6px rgba(28, 65, 135, 0.41); }

.aceptar {
  display: inline-block;
  line-height: 3.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  background: #FF7700;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px #FF7700;
  box-shadow: 0px 3px 6px #FF7700; }

.itinerario {
  line-height: 3.7rem;
  font-size: 2rem;
  text-align: center;
  color: #358494;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background: transparent;
  border: 1px solid #358494;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px #358494;
  box-shadow: 0px 3px 6px #358494; }

.item-list-afro {
  position: relative;
  display: block;
  font-size: 1.5vw;
  font-style: italic;
  margin-bottom: 2px;
  padding: 2px 20px; }

#logo {
  fill: #fff;
  color: #fff; }

#contenedor-paralax1, #contenedor-paralax2, #contenedor-paralax3, #contenedor-paralax4 {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#slide-paralax1, #slide-paralax2, #slide-paralax3, #slide-paralax4 {
  display: block;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100% !important;
  width: 100% !important;
  text-align: left; }

.table {
  border-colapse: none; }

.container-afro th h1 {
  font-size: .9em;
  text-align: center; }

.container-afro td {
  font-weight: normal;
  font-size: 1em;
  border-radius: 50px; }

.container-afro {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0; }

.container-afro td, .container-afro th {
  padding-bottom: 2%;
  padding-top: 2%; }

/* Background-color of the odd rows */
.container-afro tr:nth-child(odd) {
  background-color: #fff;
  text-align: center; }

/* Background-color of the even rows */
.container-afro tr:nth-child(even) {
  background-color: #358494;
  color: #fff;
  margin: 2px;
  text-align: center; }

.container-afro th {
  background-color: transparent;
  border-radius: 50px;
  text-align: center; }

.container-afro td:first-child {
  color: #fd7e14; }

@media (max-width: 800px) {
  .container-afro td:nth-child(4),
  .container-afro th:nth-child(4) {
    display: none; } }

/* mobile*/
.social-icons {
  position: fixed;
  bottom: 1px;
  margin-bottom: 1rem;
  width: 100%; }
  .social-icons ul {
    margin-top: 1rem;
    width: 100%;
    text-align: center; }
    .social-icons ul > li {
      margin-left: .5rem;
      margin-right: .5rem;
      display: inline-block; }
      .social-icons ul > li .gran-icono {
        display: block;
        color: white;
        border: 1px solid #fff;
        /*background-color: fade-out($primary, 0.2);*/
        border-radius: 100%;
        font-size: 1rem;
        line-height: 2.5rem;
        height: 2.5rem;
        width: 2.5rem; }
        .social-icons ul > li .gran-icono.yellow {
          color: #000;
          border: 1px solid #000; }

/* tablets*/
@media (min-width: 768px) {
  .social-icons {
    margin: 0;
    position: absolute;
    /*right: 2.5rem;*/
    bottom: 2rem;
    /* width: auto;*/ }
    .social-icons ul {
      margin-top: 0;
      width: auto; }
      .social-icons ul > li {
        display: inline-block;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1rem; }
        .social-icons ul > li:last-child {
          margin-bottom: 0; }
        .social-icons ul > li .gran-icono {
          -webkit-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          font-size: 1.5rem;
          line-height: 4rem;
          height: 4rem;
          width: 4rem;
          margin: 0px 30px; }
          .social-icons ul > li .gran-icono.yellow {
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            color: #000;
            border: 1px solid #000; }
            .social-icons ul > li .gran-icono.yellow:hover {
              background-color: #fff;
              color: #06173f; } }

.btn-primary {
  background-color: #C33D46;
  border-color: #C33D46; }
  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #9d3038 !important;
    border-color: #9d3038 !important; }

.input {
  font-weight: 300 !important; }
