/* mobile*/
.social-icons {
  position: fixed;
  bottom: 1px;
  margin-bottom: 1rem;
  width: 100%;
  ul {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    > li {
      margin-left: .5rem;
      margin-right: .5rem;
      display: inline-block;
      .gran-icono {
        display: block;
        color: white;
        fill:$white;
<<<<<<< HEAD
        border: 2px solid #fff;
        /*background-color: fade-out($primary, 0.2);*/
        border-radius: 100%;
        font-size: 1rem;
        line-height: 3rem;
=======
        border: 1px solid #fff;
        /*background-color: fade-out($primary, 0.2);*/
        border-radius: 100%;
        font-size: 1rem;
        line-height: 4rem;
>>>>>>> 19e32bb2327505f072bc0f3035d060cbd3fe5536
        height: 2.5rem;
        width: 2.5rem;
        > p{
            display: inline;
            position: absolute;
            font-size: .6rem;
            letter-spacing: .1rem;
            color: #fff;
            line-height: .1rem;
            bottom: 35px;
            left: 0px;
          }
        &.blue {
        color: $blue-afro;
        fill:$blue-afro;
        background-color: #fff;
<<<<<<< HEAD
        border: 2px solid $blue-afro;
=======
        border: 1px solid $blue-afro;
>>>>>>> 19e32bb2327505f072bc0f3035d060cbd3fe5536
        > p{
          color: $blue-afro;
        }
        }
      }
    }
  }
}
/* tablets*/
@media (min-width: 768px) {
  .social-icons {
    margin: 0;
    position: absolute;
    /*right: 2.5rem;*/
    bottom: 2rem;
   /* width: auto;*/
    ul {
      margin-top: 0;
      width: auto;
      > li {
        display: inline-block;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
        .gran-icono {
          transition: all 0.2s ease-in-out;
          font-size: 1.5rem;
          line-height: 4rem;
          height: 4rem;
          width: 4rem;
          margin: 0px 30px;
          text-decoration:none;
<<<<<<< HEAD
          border: 3px solid $white;
=======
>>>>>>> 19e32bb2327505f072bc0f3035d060cbd3fe5536
          fill:$white;
          > p{
            font-size: .8rem;
            letter-spacing:.1rem;
            color:$white;
            &.centro{
            display: inline;
            position: absolute;
            top: 75px;
            left: 34px;
            }
            &.derecha{
              display: inline;
              position: absolute;
              top: 75px;
              left: 40px;
            }
            &.izquierda{
              display: inline;
              position: absolute;
              top: 75px;
              left: 29px;
            }
          }
          &.blue{
          transition: all 0.2s ease-in-out;
          color: $blue-afro;
          fill:$blue-afro;
          background-color: #fff;
<<<<<<< HEAD
          border: 3px solid $blue-afro;
=======
          border: 1px solid $blue-afro;
>>>>>>> 19e32bb2327505f072bc0f3035d060cbd3fe5536
          > p{color: $blue-afro;}
          >.cls-1{
            fill:$blue-afro;
          }
            &:hover {
            background-color: $white;
            color: $blue-afro;
            fill:$blue-afro;
            }
          }
          &:hover{
          font-size: 1.7rem;
          line-height: 4.5rem;
          color: $blue-afro;
<<<<<<< HEAD
          border: 3px solid $blue-afro;
=======
          border: 1px solid $blue-afro;
>>>>>>> 19e32bb2327505f072bc0f3035d060cbd3fe5536
          background-color:$white;
          height: 4.5rem;
          width: 4.5rem;
          >.cls-1{
            fill:$blue-afro;
          }
          }
    }
      }
    }
  }
}
