body{
    height: 100%;
    font-weight: 300;
    color: #001A3F;
    font-family: 'Ubuntu', sans-serif;
}

.badge-car{
  display: inline;
  position: absolute;
  top: 6px;
  left: 65px;
  padding-right: 0.5em;
  padding-left: .5em;
}
@media (min-width: 768px){
  .badge-car{
  display: inline;
  position: absolute;
  top: 27px;
  left: 75px;
}
}
#carrodeCompras{
  position:fixed;
  width: 100%;
  height: 100%;
  bottom:110%;
  transition: all 0.4s ease;
  &.animacionCompras{
    position:fixed;
    bottom:0%;
    position: absolute;
    z-index: 35;
    }

}
#menu-Hamburguer{
  position:fixed;
  width: 100%;
  height: 100%;
  bottom:110%;
  transition: all 0.4s ease;
  &.animacionmenu{
    position:fixed;
    bottom:0%;
    position: absolute;
    z-index: 34;
    }

}
.container-shopping{
  padding:5em;
}
.card-title-afro{
  margin-bottom:0px;
}
.img-item{
  max-width:70px;
  padding: 0px;
}


.cerrar-dest{
  visibility: collapse;
  display: none;

}
.cerrar-media{
  visibility: visible;
  display: inherit;
  

}
#aparecido1{
  position:fixed;
  width: 100%;
  height: 100%;
  right:100%;
  transition: all 1s ease;
    &.boton1a{
    overflow:auto;
    height:100%;
    right:0%;
    }
}
#aparecido2{
  position:fixed;
  width: 100%;
  height: 100%;
  left:100%;
  transition: all 1s ease;
    &.boton2a{
    overflow:auto;
    height:100%;
    left:0%;
    }

  
}
#aparecido3{
  position:fixed;
  width: 100%;
  height: 100%;
  right:100%;
  transition: all 1s ease;
    &.boton3a{
    overflow:auto;
    height:100%;
    right:0%;
    }

  
}
#aparecido4{
  position:fixed;
  width: 100%;
  height: 100%;
  left:100%;
  transition: all 1s ease;
    &.boton4a{
    overflow:auto;
    height:100%;
    left:0%;
    }
}

#aparecido5{
  position:fixed;
  width: 100%;
  height: 100%;
  right:100%;
  transition: all 1s ease;
    &.boton5a{
    overflow:auto;
    height:100%;
    right:0%;
    }

  
}
#aparecido1b{
  position:fixed;
  width: 100%;
  height: 100%;
  right:100%;
  transition: all 1s ease;
    &.boton1b{
    overflow:auto;
    height:100%;
    right:0%;
    }

  
}
#aparecido2b{
  position:fixed;
  width: 100%;
  height: 100%;
  left:100%;
  transition: all 1s ease;
    &.boton2b{
    overflow:auto;
    height:100%;
    left:0%;
    }

  
}
#aparecido3b{
  position:fixed;
  width: 100%;
  height: 100%;
  right:100%;
  transition: all 1s ease;
    &.boton3b{
    overflow:auto;
    height:100%;
    right:0%;
    }

  
}
#aparecido4b{
  position:fixed;
  width: 100%;
  height: 100%;
  left:100%;
  transition: all 1s ease;
    &.boton4b{
    overflow:auto;
    height:100%;
    left:0%;
    }
}
#aparecido1c{
  position:fixed;
  width: 100%;
  height: 100%;
  right:100%;
  transition: all 1s ease;
    &.boton1c{
    overflow:auto;
    height:100%;
    right:0%;
    }

  
}
#aparecido2c{
  position:fixed;
  width: 100%;
  height: 100%;
  left:100%;
  transition: all 1s ease;
    &.boton2c{
    overflow:auto;
    height:100%;
    left:0%;
    }

  
}
#aparecido3c{
  position:fixed;
  width: 100%;
  height: 100%;
  right:100%;
  transition: all 1s ease;
    &.boton3c{
    overflow:auto;
    height:100%;
    right:0%;
    }

  
}
#aparecido4c{
  position:fixed;
  width: 100%;
  height: 100%;
  left:100%;
  transition: all 1s ease;
    &.boton4c{
    overflow:auto;
    height:100%;
    left:0%;
    }
}#aparecido1d{
  position:fixed;
  width: 100%;
  height: 100%;
  right:100%;
  transition: all 1s ease;
    &.boton1d{
    overflow:auto;
    height:100%;
    right:0%;
    }

  
}
#aparecido2d{
  position:fixed;
  width: 100%;
  height: 100%;
  left:100%;
  transition: all 1s ease;
    &.boton2d{
    overflow:auto;
    height:100%;
    left:0%;
    }

  
}
#aparecido3d{
  position:fixed;
  width: 100%;
  height: 100%;
  right:100%;
  transition: all 1s ease;
    &.boton3d{
    overflow:auto;
    height:100%;
    right:0%;
    }

  
}
#aparecido4d{
  position:fixed;
  width: 100%;
  height: 100%;
  left:100%;
  transition: all 1s ease;
    &.boton4d{
    overflow:auto;
    height:100%;
    left:0%;
    }
}
#aparecido1e{
  position:fixed;
  width: 100%;
  height: 100%;
  right:100%;
  transition: all 1s ease;
    &.boton1e{
    overflow:auto;
    height:100%;
    right:0%;
    }

  
}
#aparecido2e{
  position:fixed;
  width: 100%;
  height: 100%;
  left:100%;
  transition: all 1s ease;
    &.boton2e{
    overflow:auto;
    height:100%;
    left:0%;
    }

  
}
#aparecido3e{
  position:fixed;
  width: 100%;
  height: 100%;
  right:100%;
  transition: all 1s ease;
    &.boton3e{
    overflow:auto;
    height:100%;
    right:0%;
    }

  
}
#aparecido4e{
  position:fixed;
  width: 100%;
  height: 100%;
  left:100%;
  transition: all 1s ease;
    &.boton4e{
    overflow:auto;
    height:100%;
    left:0%;
    }
}

.background-afro1{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 800px;
    min-height: 35rem;
    background-color: rgba(255, 255, 255, 0.93);
    /* -webkit-transform-origin: bottom left; */
    /*-ms-transform-origin: bottom left;*/
    /* transform-origin: bottom left; */
}
.background-afro2{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 800px;
    min-height: 35rem;
    background-color: rgba(255, 255, 255, 0.93);
    // -webkit-transform-origin: top right;
    // -ms-transform-origin: top right;
    // transform-origin: top right;
}
@media (min-width: 768px){
.cerrar-dest{
  visibility: visible;
  display: inherit;

}
.cerrar-media{
  visibility: collapse;
  display: none;

}
#aparecido1{
  position:fixed;
  width: 100%;
  height: 100%;
  right:110%;
  transition: all 1s ease;
    &.boton1a{
    position:fixed;
    right:0%;
    }
}
#aparecido2{
  position:fixed;
  width: 100%;
  height: 100%;
  left:120%;
  transition: all 1s ease;
    &.boton2a{
    position:fixed;
    left:0%;
    }

  
}
#aparecido3{
  position:fixed;
  width: 100%;
  height: 100%;
  right:110%;
  transition: all 1s ease;
    &.boton3a{
    position:fixed;
    right:0%;
    }

  
}
#aparecido4{
  position:fixed;
  width: 100%;
  height: 100%;
  left:120%;
  transition: all 1s ease;
    &.boton4a{
    position:fixed;
    left:0%;
    }
}

#aparecido5{
  position:fixed;
  width: 100%;
  height: 100%;
  right:110%;
  transition: all 1s ease;
    &.boton5a{
    position:fixed;
    right:0%;
    }

  
}
#aparecido1b{
  position:fixed;
  width: 100%;
  height: 100%;
  right:110%;
  transition: all 1s ease;
    &.boton1b{
    position:fixed;
    right:0%;
    }

  
}
#aparecido2b{
  position:fixed;
  width: 100%;
  height: 100%;
  left:120%;
  transition: all 1s ease;
    &.boton2b{
    position:fixed;
    left:0%;
    }

  
}
#aparecido3b{
  position:fixed;
  width: 100%;
  height: 100%;
  right:110%;
  transition: all 1s ease;
    &.boton3b{
    position:fixed;
    right:0%;
    }

  
}
#aparecido4b{
  position:fixed;
  width: 100%;
  height: 100%;
  left:120%;
  transition: all 1s ease;
    &.boton4b{
    position:fixed;
    left:0%;
    }
}
#aparecido1c{
  position:fixed;
  width: 100%;
  height: 100%;
  right:110%;
  transition: all 1s ease;
    &.boton1c{
    position:fixed;
    right:0%;
    }

  
}
#aparecido2c{
  position:fixed;
  width: 100%;
  height: 100%;
  left:120%;
  transition: all 1s ease;
    &.boton2c{
    position:fixed;
    left:0%;
    }

  
}
#aparecido3c{
  position:fixed;
  width: 100%;
  height: 100%;
  right:110%;
  transition: all 1s ease;
    &.boton3c{
    position:fixed;
    right:0%;
    }

  
}
#aparecido4c{
  position:fixed;
  width: 100%;
  height: 100%;
  left:120%;
  transition: all 1s ease;
    &.boton4c{
    position:fixed;
    left:0%;
    }
}#aparecido1d{
  position:fixed;
  width: 100%;
  height: 100%;
  right:110%;
  transition: all 1s ease;
    &.boton1d{
    position:fixed;
    right:0%;
    }

  
}
#aparecido2d{
  position:fixed;
  width: 100%;
  height: 100%;
  left:120%;
  transition: all 1s ease;
    &.boton2d{
    position:fixed;
    left:0%;
    }

  
}
#aparecido3d{
  position:fixed;
  width: 100%;
  height: 100%;
  right:110%;
  transition: all 1s ease;
    &.boton3d{
    position:fixed;
    right:0%;
    }

  
}
#aparecido4d{
  position:fixed;
  width: 100%;
  height: 100%;
  left:120%;
  transition: all 1s ease;
    &.boton4d{
    position:fixed;
    left:0%;
    }
}
#aparecido1e{
  position:fixed;
  width: 100%;
  height: 100%;
  right:110%;
  transition: all 1s ease;
    &.boton1e{
    position:fixed;
    right:0%;
    }

  
}
#aparecido2e{
  position:fixed;
  width: 100%;
  height: 100%;
  left:120%;
  transition: all 1s ease;
    &.boton2e{
    position:fixed;
    left:0%;
    }

  
}
#aparecido3e{
  position:fixed;
  width: 100%;
  height: 100%;
  right:110%;
  transition: all 1s ease;
    &.boton3e{
    position:fixed;
    right:0%;
    }

  
}
#aparecido4e{
  position:fixed;
  width: 100%;
  height: 100%;
  left:120%;
  transition: all 1s ease;
    &.boton4e{
    position:fixed;
    left:0%;
    }
}

.background-afro1{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -20%;
    width: 110%;
    height: 100%;
    min-height: 35rem;
    background-color: rgba(255, 255, 255, 0.93);
    -webkit-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(-10deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
}
.background-afro2{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 35rem;
    background-color: rgba(255, 255, 255, 0.93);
    -webkit-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    transform: skewX(10deg);
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
}
}
.background-afro-carrito{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    min-height: 35rem;
    background-color: rgba(255, 255, 255, 1);
}
.background-afro-svg{
    background-image: url(svg/back-afro.svg);
}
.video-afro{
    display:block;;
    border-radius: 10px;
    box-shadow: 0px 3px 6px hsla(215, 100%, 12%, 0.5);
    box-size:border-box;
}

.p-video{
    font-size: 18px;
    font-weight: 400;
    padding-left:10%;
    padding-right:10%;
}

//Laout afronautica
.mt-6{
    margin-top:15%;
}
.plr-3{
    padding-left:5%;
    padding-right:5%;
}
.img-servicio-afro{
    border-radius:10px;
}

// .scroll-afro{
//     height: 100vw;
//     overflow: auto;
// }
.card-afro {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
}
.list-group-item-afro {
  padding: 0.45vw 1.25rem;
  background-color: rgba(255, 255, 255, 0);
}
.li-afro{
    font-size: .9vw;
}

.btn-outline-warning {
    color: #ff8122;
    background-color: transparent;
    background-image: none;
    border-color: #ff8122;
}
.btn-outline-warning:hover {
    color: #212529;
    background-color: #ff8122;
    border-color: #ff8122;
}

//#fin Layout afronautica



// carrito
//tabla-carrito
.img-carrito{
  max-width:40px;
}

.table-bordered td, .table-bordered th {
    border-bottom: 1px solid #dee2e6;
}
.table td, .table th {
    padding: 0.75rem;
    vertical-align: center;
}
.table p{
  line-height:1.5rem;
}

.btn-car-compras{
    font-family: 'Ubuntu', sans-serif;
    color: $white;
    fill: $white;
    width: 50px;
    height: 50px;
    margin-left:1%;
    line-height: 1px;
    border-radius: 50%;
    border:3px solid #fff;
    >.cls-1{
      fill: $white;
    }
    &.blue {
          transition: all 0.3s ease-in-out;
          color: $blue-afro;
          border: 3px solid $blue-afro;
          background-color: $white;
          >.cls-1{
              fill:$blue-afro;
            }
          &:hover {
          background-color: $white;
          color: $blue-afro;
          }
          &:active,
          &:focus,{
          border-color: $blue-afro;
          color: $blue-afro;
        } 
    }
      
}

.btn-haburger-menu{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    fill: $white;
    width: 50px;
    height: 50px;
    margin-right:1%;
    line-height: 1px;
    border-radius: 50%;
    border:3px solid #fff;
    >.cls-1{
      fill: $white;
    }
    &.blue{
          transition: all 0.3s ease-in-out;
          color: $blue-afro;
          border: 3px solid $blue-afro;
          background-color: $white;
          >.cls-1{
            fill: $blue-afro;
          }
          &:hover {
          background-color: $white;
          color: $blue-afro;
          }
          &:active,
          &:focus,{
          border-color: $blue-afro;
          color: $blue-afro;
          }  
    }
}

.menu{
    margin-top: 5px;
}
@media (min-width: 768px){
    .menu{  
        margin-top: 32px;
    }
}
.menu-dropdown{
    z-index: 46;
    position: relative;
}
.supercarousel{
    position:fixed;
    display:block;
    color:white;
    width:100%;
    height:100%;
    z-index:0;
}
.carousel-caption{
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}
.supercarouselfuente{
    font-size:2rem;
    font-weight:600;
    text-align:center;
    text-shadow:0px 1px 5px #000;
    margin-left:auto;
    margin-right:auto;
    & h1{
    font-family: 'Ubuntu', sans-serif;
    font-size:2rem;
    position: relative;
    }
    & p{
    font-family: 'Ubuntu', sans-serif;
    font-size:1.2rem;
    line-height:1.2rem;
    font-weight: 300;
    position: relative;

  }
}
.subimg-carousel{
    position: relative;
    bottom: -220px;
}
@media (min-width: 768px){
.supercarouselfuente{
    font-size:5vw;
    font-weight:600;
    text-align:center;
    text-shadow:0px 1px 5px #000;
    margin-left:auto;
    margin-right:auto;
    padding-left:10%;
    padding-right:10%;
    & h1{
    font-family: 'Ubuntu', sans-serif;
    font-size:5rem;
    line-height:5rem;
    font-weight: 500;
    }
    & p{
    font-family: 'Ubuntu', sans-serif;
    font-size:1.4rem;
    line-height:1.4rem;
    font-weight: 300;

  }
}
}
.img-carousel {
    max-width: 100%;
    margin-top: 50%;
}

@media (min-width: 768px){
.img-carousel{
  max-width:50%;
  margin-top:5%;
  height:100%;
  }
}
@media (min-width: 960px){
.img-carousel {
    max-width: 60%;
    margin-top: 16%;
    height: 100%;
    }
}

.cerrar2{
    line-height: 3.2rem;
    font-size: 1.5rem;
    color: #1C4288;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: transparent;
    border: 1px solid #1C4288;
    border-radius: 50%;
    &>p{
      font-size: 1rem;
    }
    >.cls-1{
      fill:$blue-afro;
    }
}
.cerrar1{
    display: inline-block;
    /* line-height: 3.2rem; */
    /* font-size: 1.5rem; */
    color: #1C4288;
    cursor: pointer;
    width: 50px;
    height: 50px;
    /* margin: 0 auto; */
    background: transparent;
    border: 1px solid #1C4288;
    border-radius: 50%;
    /* -webkit-box-shadow: 0px 3px 6px rgba(28, 65, 135, 0.41); */
    /* box-shadow: 0px 3px 6px rgba(28, 65, 135, 0.41); */
    >.cls-1{
      fill:$blue-afro;
    }
}

.cerrar-sm{
    line-height: 2.5rem;
    font-size: 1rem;
    color: #1C4288;
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin: 0 auto;
    background: transparent;
    border: 1px solid #1C4288;
    border-radius: 50%;
    >.cls-1{
      fill:$blue-afro;
    }
}
.aceptar{
    display: inline-block;
    line-height:3.5rem;
    font-size:1.5rem;
    text-align:center;
    color:white;
    cursor: pointer;
    width:50px;
    height:50px;
    margin-top:20px;
    background:#FF7700;
    border-radius:50%;
    box-shadow: 0px 3px 6px #FF7700;
}
.itinerario{
    line-height: 3.7rem;
    font-size: 2rem;
    text-align: center;
    color: #358494;
    cursor: pointer;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background: transparent;
    border: 1px solid #358494;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #358494;
}
.item-list-afro{
    position: relative;
    display: block;
    font-size:1.5vw;
    font-style: italic;
    margin-bottom: 2px;
    padding:2px 20px;
}
#logo-afro{
  fill:$white;
  width:30vw;
    &.blue{
      fill:$blue-afro;
    }

}
@media (min-width: 768px){
#logo-afro{
  fill:$white;
  width:10vw;
    &.blue{
      fill:$blue-afro;
    }

}
}
//parallax inicio
#contenedor-paralax1, #contenedor-paralax2, #contenedor-paralax3, #contenedor-paralax4, #contenedor-paralax5,#contenedor-paralax1b, #contenedor-paralax2b, #contenedor-paralax3b, #contenedor-paralax4b,#contenedor-paralax1c, #contenedor-paralax2c, #contenedor-paralax3c, #contenedor-paralax4c,#contenedor-paralax1c, #contenedor-paralax2c, #contenedor-paralax3c, #contenedor-paralax4c,#contenedor-paralax1d, #contenedor-paralax2d, #contenedor-paralax3d, #contenedor-paralax4d,#contenedor-paralax1e, #contenedor-paralax2e, #contenedor-paralax3e, #contenedor-paralax4e {
  position: relative;
  width: 100%;
  //border: solid 1px red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slide-paralax1, #slide-paralax2, #slide-paralax3, #slide-paralax4, #slide-paralax5, #slide-paralax1b, #slide-paralax2b, #slide-paralax3b, #slide-paralax4b,#slide-paralax1c, #slide-paralax2c, #slide-paralax3c, #slide-paralax4c,#slide-paralax1d, #slide-paralax2d, #slide-paralax3d, #slide-paralax4d,#slide-paralax1e, #slide-paralax2e, #slide-paralax3e, #slide-paralax4e{
  display: block;
  position: absolute;
  // background-image: url(../img/titulo-a.png);
  background-size: contain;
  background-repeat:no-repeat;
  text-align: left;
}
//parallax fin

.container-reserva-hask{
  height: 500px;;
}