body{
	overflow-y: hidden;
}
p{
	font-size: 1.2rem;
	line-height: 1.3rem;
}

#aparecido1{
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
  display: none;
  visibility: collapse;
  -webkit-animation-name: mymove2; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: mymove2;
  animation-duration: 1s;
	&.boton1{
	background-color: red;
	position: relative;
    right: 0%;
    display: block;
    visibility: visible;
}
@keyframes mymove2 {
    from {right: 100%;}
    to {right: 0%;}
}

}
#aparecido2{
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
  display: none;
  visibility: collapse;
  -webkit-animation-name: mymove; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: mymove;
    animation-duration: 1s;
	&.boton2{
	background-color: blue;
	position: relative;
    right: 0%;
    display: block;
    visibility: visible;
}
@keyframes mymove {
    from {right: 100%;}
    to {right: 0%;}
}
  
}



    
/*


.contenedor-datos{
	margin-top: 5%;
}

.scrollbar{
    overflow-y: scroll;

}
*/