body{
	height: 100%;
	overflow: hidden;
	font-weight: 300;
	color: #1C4288;
	font-family: 'Ubuntu', sans-serif;
}
p{
	font-size: 1.3vw;
    line-height: 1.3vw;
}
.p-estilo{
	position: relative;
    top: -100px;
}
#aparecido1{
  position:fixed;
  width: 100%;
  height: 100%;
  right:110%;
  transition: all 1s ease;
	&.boton1{
	position:fixed;
	transition: all 1s ease;
	right:0%;
	}

  
}
#aparecido2{
  position:fixed;
  width: 100%;
  height: 100%;
  left:120%;
  transition: all 1s ease;
	&.boton2{
	position:fixed;
	transition: all 1s ease;
	left:0%;
	}

  
}

.background-afro1{
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -20%;
    width: 110%;
    min-height: 35rem;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(-10deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
}
.background-afro2{
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    min-height: 35rem;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(-10deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
}
.background-afro-svg{
	background-image: url(svg/back-afro.svg);
}
.video-afro{
	display:block;;
	border-radius: 10px;
}
.p-video{
	font-size: 18px;
	font-weight: 400;
	padding-left:10%;
	padding-right:10%;
}
//Laout afronautica
.mt-6{
	margin-top:10%;
}
.plr-3{
	padding-left:5%;
	padding-right:5%;
}
.img-servicio-afro{
    border-radius:10px;
}

.table tr:nth-child(2){
	background-color:red;
	margin:10px;
    border-radius: 50px;
}
//#fin Laout afronautica
.btn-car-compras{
    font-family: 'Ubuntu', sans-serif;
    line-height: 2.5rem;
    color: white;
    width: 50px;
    height: 50px;
    margin-left:1%;
    border-radius: 50%;
    border:1px solid #fff;
}
.btn-haburger-menu{
    font-family: 'Ubuntu', sans-serif;
    line-height: 2.5rem;
    color: white;
    width: 50px;
    height: 50px;
    margin-right:1%;
    border-radius: 50%;
    border:1px solid #fff;
}
.menu{
	padding-top: 5px;
}
.menu-dropdown{
	padding-top: 100px;
}
.supercarousel{
    position:fixed;
    display:block;
    color:white;
    width:100%;
    height:100%;
    z-index:-1;
}
.supercarouselfuente{
    font-size:5vw;
    font-weight:600;
    text-align:center;
    text-shadow:0px 1px 5px #000;
    margin:0 auto;
    padding:20%;
}

.cerrar{
    margin-bottom:15px;
    line-height: 2.6rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    color: blue;
    cursor: pointer;
    top: 11%;
    left: 25%;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
}
.aceptar{
	display: inline-block;
	line-height:3.5rem;
	font-size:1.5rem;
	color:white;
	width:50px;
	height:50px;
	background:#FF7700;
	border-radius:50%;
	box-shadow: 0px 3px 6px #FF7700;
}
.menu{
	margin-top: 32px;
}