
/*form styles*/
#msform {
  width: auto;
  margin: 50px auto;
  text-align: center;
  position: relative;
}
#msform fieldset {
      /* background: white; */
    border: 0 none;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: absolute;
  
  /*stacking fieldsets above each other*/
 
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #17a2b8;
  border-radius: 50px;
  margin-bottom: 10px;
  width: 50%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}
/*buttons*/
#msform .action-button {
  /* width: 100px; */
  background-color: white;
  // color: white;
  border: 1px solid #ff8122;
  border-radius: 50px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #ff8122;
}
/*headings*/
.fs-title {
  // font-size: 15px;
  text-transform: uppercase;
  // color: #2C3E50;
  margin-bottom: 10px;
}
.fs-subtitle {
  // font-weight: normal;
  // font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: $blue-afro;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  line-height: 28px;
  display: block;
  font-size: 15px;
  color: #17a2b8;
  position: relative;
  background: $white;
  border: 1px solid #8cdfec;
  border-radius: 50px;
  margin: 0 auto 5px auto;
  z-index: 4;
  box-shadow: 0px 2px 2px #8cdfec;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #8cdfec;
  position: absolute;
  left: -50%;
  top: 13px;
  z-index: 3; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: #17a2b8;
  color: white;
}
.icon-datepiker{
  width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50px;
    background-color: #17a2b8;
    display: block;
    margin:0 5px;
/*     border: 1px solid #17a2b8; */
    color: $white;
}
.text-datepiker{
  font-weight: 400;
  line-height: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
}


